[submodule "beta-modules/recapJaspModule"]
	path = beta-modules/recapJaspModule
	url = https://github.com/jasp-stats-modules/recapJaspModule.git
[submodule "beta-modules/jaspKinematics"]
	path = beta-modules/jaspKinematics
	url = https://github.com/jasp-stats-modules/jaspKinematics.git
[submodule "beta-modules/jaspAcceptanceSampling"]
	path = beta-modules/jaspAcceptanceSampling
	url = https://github.com/jasp-stats-modules/jaspAcceptanceSampling.git
[submodule "beta-modules/jaspAnova"]
	path = beta-modules/jaspAnova
	url = https://github.com/jasp-stats-modules/jaspAnova.git
[submodule "beta-modules/jaspAudit"]
	path = beta-modules/jaspAudit
	url = https://github.com/jasp-stats-modules/jaspAudit.git
[submodule "beta-modules/jaspBFF"]
	path = beta-modules/jaspBFF
	url = https://github.com/jasp-stats-modules/jaspBFF.git
[submodule "beta-modules/jaspBain"]
	path = beta-modules/jaspBain
	url = https://github.com/jasp-stats-modules/jaspBain.git
[submodule "beta-modules/jaspBfpack"]
	path = beta-modules/jaspBfpack
	url = https://github.com/jasp-stats-modules/jaspBfpack.git
[submodule "beta-modules/jaspBsts"]
	path = beta-modules/jaspBsts
	url = https://github.com/jasp-stats-modules/jaspBsts.git
[submodule "beta-modules/jaspCircular"]
	path = beta-modules/jaspCircular
	url = https://github.com/jasp-stats-modules/jaspCircular.git
[submodule "beta-modules/jaspCochrane"]
	path = beta-modules/jaspCochrane
	url = https://github.com/jasp-stats-modules/jaspCochrane.git
