[submodule "beta-modules/recapJaspModule"]
	path = beta-modules/recapJaspModule
	url = https://github.com/jasp-stats-modules/recapJaspModule.git
[submodule "beta-modules/jaspKinematics"]
	path = beta-modules/jaspKinematics
	url = https://github.com/jasp-stats-modules/jaspKinematics.git
